.news-articles-cards{
    width: 99%;
    height: 100px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    background-color: #f2f4f7;
    border: 2px solid #f2f4f7;
    border-radius: 10px;
}

.icon-container{
    padding-top: 15px;
    padding-left: 17px;
    padding-bottom: 0px;
    height: 100%;
    background-color: #f2f4f7;
    border-radius: 25px;
}

.icon-square3x3-size{
    width: 15px;
    background-color: #f2f4f7;
}

.icon-square3x3-size:hover{
    width: 15px;
    cursor: pointer;
    background-color: #f2f4f7;
}

.card-checkbox-input{
    margin-left: 15px;
    background-color: #f2f4f7;
}

.content-title-style {
    width: 100%;
    white-space: 'nowrap';
    padding-top: 13px;
    padding-left:10px;
    height: 10px;
    background-color: #f2f4f7;
    
}

.title-container{
    background-color: #f2f4f7;
    font-weight: 650;
}

.content-tags-style {
    margin-right: 0px;
    background-color: #f2f4f7;
    border-radius: 10px;
    
}

.paragraph-unordered-list-container{
    height: 25px;
}

.content-container{

}

.read-article-button button{
    margin: 0px;
    padding: 0px;
    border: 2px solid #f2f4f7;
    width: 80px;
    border: none;
    outline: none;
    background-color: #f2f4f7;
}

.read-article-button button:hover{
    border: none;
    outline: none;
}

.read-article-button button:focus{
    border: none;
    outline: none;
}


.read-article-button ul{
    margin: 0px;
    padding: 0px;
    height: 25px;
}

.icon-view-container{
    padding-top: 2px;
    color: #4c55fd;
    padding-left: 5px;
    padding-right: 0px;
}

.icon-view-text-container{
    font-weight: 200;
    color: #646cff;
    
}

.icon-view-text-container:hover{
    font-weight: 200;
    text-decoration: underline;
}

.icon-person-circle-container{
    padding-top: 2px;
    padding-right: 5px;
    background-color: #f2f4f7;
}

.icon-date-container{
    padding-top: 2px;
    padding-right: 5px;
    background-color: #f2f4f7;
    
}

.author-date-container{
    height: 20px;
}


.author-container {
    background-color: #f2f4f7;
    height: 20px;
}

.date-container {
    background-color: #f2f4f7;
    height: 20px;
}

.paragraph-container{
    height: 40px;
    width: 70%;
}

.news-articles-cards ul{
    background-color: #f2f4f7;
    border-radius: 25px;
}

.tags-content {
    font-size: 20px;
    color: #7cc59a;
    margin: 5px;
    margin-top: 10px;
    margin-right: 15px;
    padding: 3px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #ebf9f2;
    border: 1px solid #b6c8c1;
    border-radius: 10px;
    font-weight: 600;
}

.modal {
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    margin-top: 120px;
    margin-right: 350px;
    margin-left: 350px;
    border-radius: 8px;
    outline: none;
  }

.popup-content-container{
    outline-style: dashed;
}

.popup-title-container{
    padding-top: 35px;
    font-size: 16px;
    color: rgb(3, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
}

.popup-exit-container{
    padding-top: 35px;
    margin-left: auto;

}

.popup-exit-container button{
    font-size: 18px;
    padding-top: 0px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 5px;
    background-color: #f2f4f7;
    border-radius: 20px;
    
}

.popup-exit-container button:focus{
    outline: none;
}

.popup-title-header ul{
    padding: 0px;
    margin: 0px;
    
}

.popup-author-date-textinfo{
    color: #646b70;
    font-weight: 700;
    padding-bottom: 8px;
}

.popup-content{
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 35px;
    font-size: 12px;
}

.popup-publish-delete-button-container{
    display: flex;
    justify-content: center;
    margin: 10px;
    
}

.popup-publish-delete-button-container li{
    margin: 10px;
    
}

.publish-button{
    background-color: #1bc2e4;
    color: #ebf9f2;
}

.publish-button:hover{
    background-color: #2f9fb6;
    border: none;
    color: #ebf9f2;
}

.delete-button{
    background-color: #f13231;
    color: #ebf9f2;
}

.delete-button:hover{
    background-color: #b4554e;
    border: none;
    color: #ebf9f2;
}
